<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.1" targetFramework="net452" />
  <package id="AWSSDK.SQS" version="3.3.0.1" targetFramework="net452" />
  <package id="DDEX.FRIN10.MessagingClassLibrary" version="1.0.3.0" targetFramework="net452" />
  <package id="log4net" version="2.0.4" targetFramework="net452" />
  <package id="UMG.MS.Library.Logging" version="1.0.3" targetFramework="net452" />
  <package id="UMG.MS.Library.Queue" version="1.0.11" targetFramework="net452" />
  <package id="UMG.MS.Library.Services.R2" version="1.0.13" targetFramework="net452" />
  <package id="UMG.Enterprise.Connector.Framework" version="1.0.13" targetFramework="net45" />
</packages>